@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
